<div>
  <h2>Aula 4 - pipes</h2>
  <p>{{ hoje | date: 'fullDate'}}</p>
  <p>{{ hoje | date: 'fullDate'}}</p>
  <p>{{ hoje | date: 'short'}}</p>
  <p>{{ hoje | date: 'shortDate'}}</p>
  <p>{{ hoje | date: 'shortTime'}}</p>
  <p>{{ hoje | date: 'medium'}}</p>
  <p>{{ hoje | date: 'dd/MM/yyyy'}}</p>
  <p>{{ hoje | date: 'HH:mm:ss'}}</p>
  <p>{{ hoje | date: 'hh:mm a'}}</p>

  <p>{{ hoje | date: 'EEEE d MMMM y'}}</p>
  
  <p>{{ nome | uppercase}}</p>
  <p>{{ nome | lowercase}}</p>

  <p>Preço: {{ preco | currency: 'BRL':'symbol'}}</p>
  <p>Preço: {{ preco | currency: 'BRL':'symbol-narrow'}}</p>
  <p>Preço: {{ preco | currency: 'BRL':'symbol':'1.2-4'}}</p>
  <p>Preço: {{ preco | currency: 'USD':'symbol'}}</p>
</div>