<form [formGroup]="cadastro" (ngSubmit)="salvar()" class="m-3">
    <label>Informe nome</label>
    <input formControlName="descricao" 
    type="text" 
    class="form-control"
    placeholder="EX: milho" 
     />
  
    <label class="mt-2">Informe preço</label>
    <input formControlName="preco" 
        type="text" 
        class="form-control"
        placeholder="EX: 10.50" 
        
    />

    <label class="mt-2">Informe estoque</label>
    <input formControlName="estoque"  
        type="text" 
        class="form-control"
        placeholder="EX: 10" 
        
    />

    <label class="mt-2">Selecione uma unidade de medida</label>
    <select formControlName="unMedida" class="form-select" >
        <option value="LT">litros</option>
        <option value="KG">Kilos</option>
        <option value="MT">metros</option>
        <option value="UN">unidade</option>
    </select> 

    <button class="btn btn-primary mt-3" [disabled]="cadastro.invalid">Gravar</button>
    <label class="m-3">{{mensagem}}</label>

</form>
